<%- model_class = Mobile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %>: <%= @mobile.name %></h1>
  <h4><%= @budget.description %></h4>
  <h3>Total de material: <%= number_to_currency @mobile.total_value %></h3>
  <p>- Itens marcados para não ser multiplicados, são divididos por <%= @mobile.multiplier %>, assim, ignorando a multiplicação no orçamento total</p>
  <p><%= @mobile.description %> - Material vezes <%= @mobile.multiplier %></p> 
  <p>De: <%= link_to @client.name, @client %></p>
</div>

<dl class="dl-horizontal">
</dl>

<%= link_to "Adicionar gaveta", new_client_budget_mobile_drawer_path(@client, @budget, @mobile), class: 'btn btn-default' %>
<%= link_to 'Adicionar item cadastrado', new_client_budget_mobile_budget_item_path(@client, @budget, @mobile), class: 'btn btn-default' %>
<%= link_to "Adicionar chapa", new_client_budget_mobile_plate_path(@client, @budget, @mobile), class: "btn btn-default" %>
<%= link_to "Adicionar por metro quadrado", new_client_budget_mobile_by_meter_path(@client, @budget, @mobile), class: "btn btn-default" %>

<%= link_to "Adicionar item não registrado", new_client_budget_mobile_unregistred_item_path(@client, @budget, @mobile), class: "btn btn-default" %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              client_budget_path(@client, @budget), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_client_budget_mobile_path(@client, @budget, @mobile), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              client_budget_mobile_path(@client, @budget, @mobile),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<% if @mobile.plates.count != 0 %>
<h3>Chapas</h3>
	<table class = "table table-sm">
		<tr>
			<td>Largura</td>
			<td>Altura</td>
			<td>Valor da chapa</td>
			<td>Pedaços iguais a este</td>
			<td>Valor total</td>
			<td colspan="2">Ações</td>
		</tr>
		<% @mobile.plates.each do |plate| %>
		<tr>
			<td><%= plate.width %></td>
			<td><%= plate.height %></td>
			<td><%= number_to_currency plate.plate_value %></td>
			<td><%= plate.qtd %></td>
			<td><%= number_to_currency plate.value %></td>
			<td><%= link_to "editar", edit_client_budget_mobile_plate_path(@client, @budget, @mobile, plate), class: "btn btn-default btn-sm" %></td>
			<td><%= link_to "deletar", client_budget_mobile_plate_path(@client, @budget, @mobile, plate), method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Você tem certeza disso?"} %></td>
		</tr>
		<% end %>
	</table>
<% end %>

<% if @mobile.unregistred_items.count != 0 %>
<h3>Itens não registrados</h3>
	<table class = "table table-sm">
		<tr>
			<td>Descrição</td>
			<td>Valor do item</td>
			<td>Quantidade</td>
			<td>Valor total</td>
			<td>Multiplicar pelo multiplicador do móvel</td>
			<td colspan="2">Ações</td>
		</tr>
		<% @mobile.unregistred_items.each do |unregistred_item| %>
		<tr>
			<td><%= unregistred_item.description %></td>
			<td><%= number_to_currency unregistred_item.value %></td>
			<td><%= unregistred_item.qtd %></td>
			<td><%= number_to_currency unregistred_item.total_value %></td>
			<td><%= unregistred_item.multiplicable ? "Sim" : "Não" %></td>
			<td><%= link_to "editar", edit_client_budget_mobile_unregistred_item_path(@client, @budget, @mobile, unregistred_item), class: "btn btn-default btn-sm" %></td>
			<td><%= link_to "deletar", client_budget_mobile_unregistred_item_path(@client, @budget, @mobile, unregistred_item), method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Você tem certeza disso?"} %></td>
		</tr>
		<% end %>
	</table>
<% end %>


<% if @mobile.budget_items.count != 0 %>
<h3>Itens registrados</h3>
	<table class = "table table-sm">
		<tr>
			<td>Item</td>
			<td>Valor do item</td>
			<td>Quantidade</td>
			<td>Valor total</td>
			<td>Multiplicar pelo multiplicador do móvel</td>
			<td colspan="2">Ações</td>
		</tr>
		<% @mobile.budget_items.each do |budget_item| %>
		<tr>
			<td><%= budget_item.item.name %></td>
			<td><%= number_to_currency budget_item.item.value %></td>
			<td><%= budget_item.qtd %></td>
			<td><%= number_to_currency budget_item.total_value %></td>
			<td><%= budget_item.multiplicable ? "Sim" : "Não" %></td>
			<td><%= link_to "editar", edit_client_budget_mobile_budget_item_path(@client, @budget, @mobile, budget_item), class: "btn btn-default btn-sm" %></td>
			<td><%= link_to "deletar", client_budget_mobile_budget_item_path(@client, @budget, @mobile, budget_item), method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Você tem certeza disso?"} %></td>
		</tr>
		<% end %>
	</table>
<% end %>



<% if @mobile.by_meters.count != 0 %>
<h3>Móveis por metro</h3>
	<table class = "table table-sm">
		<tr>

			<td>Multiplicar pelo multiplicador do móvel</td>
			<td>Largura</td>
			<td>Altura</td>
			<td>Valor do metro</td>
			<td>Quantidade</td>
			<td>Valor total</td>
			<td colspan="2">Ações</td>
		</tr>
		<% @mobile.by_meters.each do |by_meter| %>
		<tr>
			<td><%= by_meter.multiplicable ? "Sim" : "Não" %></td>
			<td><%= by_meter.width %></td>
			<td><%= by_meter.height %></td>
			<td><%= number_to_currency by_meter.meter_price %></td>
			<td><%= by_meter.qtd %></td>
			<td><%= number_to_currency by_meter.total_value %></td>
			<td><%= link_to "editar", edit_client_budget_mobile_by_meter_path(@client, @budget, @mobile, by_meter), class: "btn btn-default btn-sm" %></td>
			<td><%= link_to "deletar", client_budget_mobile_by_meter_path(@client, @budget, @mobile, by_meter), method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Você tem certeza disso?"} %></td>
		</tr>
		<% end %>
	</table>
<% end %>


<% if @mobile.drawers.count != 0 %>
<h3>Gavetas</h3>
	<table class = "table table-sm">
		<tr>
			<td>Descrição</td>
			<td>Preço único</td>
			<td>Quantidade</td>
			<td>Preço total</td>
			<td colspan="2">Ações</td>
		</tr>
		<% @mobile.drawers.each do |drawer| %>
		<tr>
			<td><%= "#{drawer.width}x#{drawer.height}x#{drawer.depth} (LxAxP) - Frente: #{number_to_currency drawer.front_plate} - Fundo: #{number_to_currency drawer.back_plate} - Interno: #{number_to_currency drawer.internal} - Preço das corrediças: #{number_to_currency drawer.slide}" %></td>
			<td><%= number_to_currency drawer.total_value / drawer.qtd %></td>
			<td><%= drawer.qtd %></td>
			<td><%= number_to_currency drawer.total_value %></td>

			<td><%= link_to "editar", edit_client_budget_mobile_drawer_path(@client, @budget, @mobile, drawer), class: "btn btn-default btn-sm" %></td>
			<td><%= link_to "deletar", client_budget_mobile_drawer_path(@client, @budget, @mobile, drawer), method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Você tem certeza disso?"} %></td>
		</tr>
		<% end %>
	</table>
<% end %>
